{% extends '::base.html.twig' %}

{% block title %}
    Not found error occured
{% endblock %}


{% block body %}
    <header class="page-header">

        <h1 class="page-title">Not found (404) error occured</h1>
        
    </header>

    <div class="one-third">
        <div class="infobox">
            <span class="dropcap dark">N</span>ot found a.k.a 404 <a href="http://pl.wikipedia.org/wiki/HTTP_404">error code</a>.
            <p>
                <a class="button large" href="{{ path('homepage') }}">Panic button!</a>
            </p>
        </div>
    </div>
    <div class="two-third last">
        <img src="{{asset('/bundles/wshwebsite/img/keep-calm-and-stay-weniger.png') }}">
    </div>
{% endblock %}