{% extends '::base.html.twig' %}
{% block title %}
    Services
    {{ parent() }}
{% endblock %}
{% block body %}
<header class="page-header">

		<h1 class="page-title">Services</h1>
		<hr />
		<h2 class="page-description">
            Our Core Competences.
        </h2>
		
</header><!-- end .page-header -->
	
<div class="one-third">

    <h3>Business analysis & consulting</h3>

    <p>
        We will optimize your business tasks to make them less time consuming, more efficient, smarter and less frustrating.
    </p>
    <p>
        We have experience in delivering solutions to business areas such as:
    </p>
    <ul class="arrow dotted">
        <li>commerce</li>
        <li>HR management</li>
        <li>logistics</li>
        <li>print on-demand</li>
        <li>time tracking</li>
        <li>electronic assembly</li>
        <li>science publishing</li>
        <li>business statistics and live calculations</li>
        <li>warehouse management</li>
    </ul>

</div><!-- end .one-third -->

<div class="one-third">

    <h3>Web & mobile software development</h3>

    <p>
        We design and develop web &amp; mobile software for business processes and marketing needs using cutting edge web
        technologies and management methodologies.
    </p>
    <p>We are experts in delivering:</p>
    <ul class="arrow dotted">
        <li>bespoke information systems</li>
        <li>advanced e-commerce platforms</li>
        <li>mobile applications</li>
        <li>web portals</li>
        <li>B2B systems</li>
        <li>intranets</li>
    </ul>


</div><!-- end .one-third -->

<div class="one-third last">

    <h3>Research and development</h3>

    <p>
        One of the many benefits of working with new technologies is having fun experimenting with and discovering new solutions.
        The world is changing rapidly as new technologies emerge. Thanks to our passion and devotion we are able to stay
        on top of these changes and greatly benefit from the progress.
    </p>
    <p>
        We are researching new ideas and exploring new possibilities that will hopefully make the world a better place.
    </p>
    <p>
        Our current focus is directed at:
    </p>
    <ul class="arrow dotted">
        <li>psychology & technology coupling</li>
        <li>artificial intelligence</li>
        <li>synergy effects in information systems</li>
    </ul>
    <p>
        <a title="30 days project information" href="{{ path("page", {slug: '30-days'}) }}">Read more</a> about <strong>30 days</strong> - our internal mobile system project, targetet on habits changing.
    </p>
</div><!-- end .one-third.last -->
<hr>
<div class="one-half">
    <h5>Technologies</h5>
    <p>
        We use a variety of technologies and we don't cower from anything that catches our eye:
    </p>
    <ul class="arrow dotted">
        <li>PHP 5 with Symfony 2 MVC framework - our primary development platform</li>
        <li>PhoneGap for developing mobile software</li>
        <li>We turn to modern JavaScript frameworks more and more, and hope to do so increasingly in the future</li>
    </ul>
</div>
<div class="one-half last">
    <h5>Methodologies and QA</h5>
    <p>
        Our experience has enabled us to develop methods for quality assurance by the relevant project documentation,
        teamwork, source code management and automated testing.
        In QA you will never reach the final destination.
        We continuously evaluate our results and improve our processes and final product quality.<br>
    </p>
    <p>
        Tools we use to achieve maximum quality possible:
    </p>
    <ul class="arrow dotted">
        <li>First of all: trust and honesty</li>
        <li>One of the most perfected ticketing systems for coordinating our team: <a href="http://www.atlassian.com/software/jira/overview">JIRA</a></li>
        <li><a href="http://git-scm.com/">Git</a> with <a href="https://github.com/">GitHub</a> for source control</li>
        <li><a href="http://behat.org/">Behat</a> for automated behavioral tests</li>
        <li><a href="https://travis-ci.org/">Travis</a> for continuous integration</li>
        <li><a href="http://newrelic.com/">New relic</a> for server monitoring</li>
    </ul>
</div>
{% endblock %}