{% extends '::base.html.twig' %}
{% block title %}
    Team
    {{ parent() }}
{% endblock %}
{% block body %}
    <header class="page-header">

        <h1 class="page-title align-left">Meet Our Team</h1>

        <hr />

        <h2 class="page-subdescription">
            Small, but 100% passionate team that is ready to give you 110%.
        </h2>

    </header><!-- end .page-header -->

    <div class="team-member one-fourth">

        <img src="{{ asset('bundles/wshwebsite/img/team_pictures/bartosz-rychlicki.jpg') }}" alt="" class="photo">

        <div class="content">

            <h4 class="name">Bartosz Rychlicki</h4>

            <span class="job-title">CEO & Founder</span>


        </div><!-- end .content -->


    </div><!-- end .team-member.one-fourth -->

    <div class="team-member one-fourth">

        <img src="http://placehold.it/200x300" alt="" class="photo">

        <div class="content">

            <h4 class="name">Krzysztof Cywiński</h4>

            <span class="job-title">PHP Programmer</span>

        </div><!-- end .content -->

    </div><!-- end .team-member.one-fourth -->

    <div class="team-member one-fourth">

        <img src="http://placehold.it/200x300" alt="" class="photo">

        <div class="content">

            <h4 class="name">Paweł Jędrzejczyk</h4>

            <span class="job-title">Front-end developer</span>

        </div><!-- end .content -->

    </div><!-- end .team-member.one-fourth -->

    <div class="team-member one-fourth last">

        <img src="http://placehold.it/200x300" alt="" class="photo">

        <div class="content">

            <h4 class="name">Paweł Tylingo</h4>

            <span class="job-title">Tester and QA Manager </span>

        </div><!-- end .content -->

    </div><!-- end .team-member.one-fourth.last -->

    <div class="team-member one-fourth">
        <a href="#join-family" class="inline-html">
            <img src="http://placehold.it/200x300" alt="" class="photo">
        </a>
        <div class="content">

            <h4 class="name">Join family</h4>

            <span class="job-title">Passionate</span>


        </div><!-- end .content -->
        <div style="display:none">
            <div id="join-family">
                <div class="two-third last">
                    <p>
                        We are allays looking for somebody that is passionate about <em>Web Software Development, New technologies,
                        User Experience</em> and <em>Design</em> to join <strong>WENIGER</strong> and work with us.
                    </p>
                    <p>
                        You got passion, you got it all. We don't care about your age, degree or cultural background.<br>
                        If you want to work with us, drop as a line about your passion.
                    </p>
                    <ul class="arrow">
                        <li><a href="{{ path("contact") }}">Contact <strong>WENIGER</strong></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end! client description modal div -->

    </div><!-- end .team-member.one-fourth -->


{% endblock %}