{% extends '::base.html.twig' %}
{% block title %}
    Values
    {{ parent() }}
{% endblock title %}
{% block body %}
    <header class="page-header">

        <h1 class="page-title">Company values</h1>
        <hr/>

        <h2 class="page-description">
            What we stand for.
        </h2>

    </header><!-- end .page-header -->
    <div class="one-half">
        <h3>Our values</h3>
        <!-- values list -->
        <span class="acc-trigger">
	        <a href="#">I. Be crystal clear, transparent and trustworthy, even if it will hurt</a>
        </span>

        <div class="acc-container">
            <div class="content">
                We base our internal and external communication on solid facts and truth.
                We don't want misguide anyone as this leads to problems and lack of trust.
            </div>
        </div>
        <!-- end .acc-container -->

        <span class="acc-trigger">
			<a href="#">II. Personal interactions over business rules</a>
		</span>

        <div class="acc-container">
            <div class="content">
                We strongly believe in this <a href="http://agilemanifesto.org/" title="Agile manifesto">Agile principle</a>.<br>
                Our partners should like us and we should like them, this is essential to friendly and productive cooperation.
            </div>
        </div>
        <!-- end .acc-container -->

        <span class="acc-trigger">
        <a href="#">III. Passion is essential and required</a>
	    </span>

        <div class="acc-container">
            <div class="content">
                We only engage people with passion to what they do, we know that passion is required to produce a high quality works.
            </div>
        </div>
        <!-- end .acc-container -->

        <span class="acc-trigger">
			<a href="#">IV. Always focus your mind on the project at hand</a>
		</span>

        <div class="acc-container">
            <div class="content">
                Focus is something we loose in modern society due to information overflow.<br>
                We are focusing at one task, and only one task at given time, this improves productivity.
            </div>
        </div>
        <!-- end .acc-container -->

        <span class="acc-trigger">
			<a href="#">V. We should be proud of our products and effect it have on users life</a>
		</span>

        <div class="acc-container">
            <div class="content">
                And we are!
            </div>
        </div>
        <!-- end .acc-container -->

        <span class="acc-trigger">
			<a href="#">VI. The company should be a family, not organization</a>
		</span>

        <div class="acc-container">
            <div class="content">
                When people with passion come together there is no need for hierarchy.
            </div>
        </div>
        <!-- end .acc-container -->
    </div>
    <div class="one-half last">
        <!-- what is weniger -->
        <div>
            <h4>What is <strong>WENIGER?</strong></h4>

            <p>
                <strong>WENIGER</strong> means <em>less</em> in german language.
                Our <a href="https://www.google.pl/search?q=weniger+aber+besser&hl=pl&tbm=isch&tbo=u&source=univ&sa=X&ei=noZJUZrSFMiVswbx_oCYCg&ved=0CEUQsAQ&biw=1600&bih=761">inspiration</a>
                is a quote from german industrial designer <a href="http://en.wikipedia.org/wiki/Dieter_Rams">Dieter Rams</a>:
            </p>
            <blockquote>
                Weniger aber besser<br>
                (Less, but better)
            </blockquote>

            <p>
                This rule fits well in most areas of life including software development.
                The simplest and sophisticated solutions are the best ones,
                and Germans engineers and designers are known for that.
                So we fallow their legacy in our company. </p>
        </div>
        <hr>
        <!-- our mission -->
        <div>
            <h4>Our mission</h4>
            <p>
                To bring happiness and better quality of life to all by
                making business tasks and processes more sexy and smart using internet software technologies to design
                on demand solutions and standardized business products.
            </p>
        </div>
    </div>
{% endblock %}