{% extends '::base.html.twig' %}
{% block title %}
    Values
    {{ parent() }}
{% endblock title %}
{% block body %}
    <header class="page-header">

        <h1 class="page-title">Company values</h1>
        <hr/>

        <h2 class="page-description">
            What we stand for.
        </h2>

    </header><!-- end .page-header -->
    <div class="one-half">
        <h3>Our values</h3>
        <!-- values list -->
        <span class="acc-trigger">
	        <a href="#">I. Be crystal clear, transparent and trustworthy, even if it hurts</a>
        </span>

        <div class="acc-container">
            <div class="content">
                Our internal and external communication is based on solid facts and honesty.
                We don't want to mislead anyone as this would cause future problems and mistrust.
            </div>
        </div>
        <!-- end .acc-container -->

        <span class="acc-trigger">
			<a href="#">II. Personal interactions over business rules</a>
		</span>

        <div class="acc-container">
            <div class="content">
                We strongly believe in the <a href="http://agilemanifesto.org/" title="Agile manifesto">Agile principle</a>.<br>
                Clients - we want them to be more then just that. They are our partners. This is essential for friendly and productive cooperation.
            </div>
        </div>
        <!-- end .acc-container -->

        <span class="acc-trigger">
        <a href="#">III. Passion is essential</a>
	    </span>

        <div class="acc-container">
            <div class="content">
                We only employ people with passion for their jobs. We believe that passion is required to produce high quality products.
            </div>
        </div>
        <!-- end .acc-container -->

        <span class="acc-trigger">
			<a href="#">IV. Always focus on the project at hand</a>
		</span>

        <div class="acc-container">
            <div class="content">
                Focus is something we lose in modern times due to information overflow.<br>
                We focus on a single task at any given time as this greatly improves productivity.
            </div>
        </div>
        <!-- end .acc-container -->

        <!-- end .acc-container -->

        <span class="acc-trigger">
			<a href="#">V. The company should be a family, not an organization</a>
		</span>

        <div class="acc-container">
            <div class="content">
                When people with passion come together there is no need for hierarchy.
            </div>
        </div>
        <!-- end .acc-container -->
    </div>
    <div class="one-half last">
        <!-- what is weniger -->
        <div>
            <h4>What is <strong>WENIGER?</strong></h4>

            <p>
                <strong>WENIGER</strong> means <em>less</em> in German.
                Our <a href="https://www.google.pl/search?q=weniger+aber+besser&hl=pl&tbm=isch&tbo=u&source=univ&sa=X&ei=noZJUZrSFMiVswbx_oCYCg&ved=0CEUQsAQ&biw=1600&bih=761">inspiration</a>
                is a quote from the German industrial designer <a href="http://en.wikipedia.org/wiki/Dieter_Rams">Dieter Rams</a>:
            </p>
            <blockquote>
                Weniger aber besser<br>
                (Less, but better)
            </blockquote>

            <p>
                The simplest and most refined solutions are often the best ones, Germany's best engineers and designers are known for that. We follow their legacy in our company tackling with new technologies.
            </p>
        </div>
        <hr>
        <!-- our mission -->
        <div>
            <h4>Our mission</h4>
            <p>
                To develop useful and innovative software tools to improve peoples lives using reliability and passion as our framework.            
            </p>
        </div>
    </div>
{% endblock %}